.container{
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tittle{
    width: 100%; height: 10%;
    background: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 1.2vw;
        color: #ffffff;
    }
}
.create{
    width: 95%; height: 85%;
    background: var(--color4);
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 1vw)/2));
    grid-template-rows: repeat(2, calc((30% - 1vw)/2)) calc(55% - .5vw) calc(15% - .5vw);
    gap: .5vw;
    padding: 2vw 2vw;
    .form-group{
        width: 100%; height: 100%;
        p{
                color: #000;
                font-size: 2vh;
        }
        input, textarea, button{
            width: 100%; height: 70%;
            background: var(--color1);
            padding: 0 1vw;
            font-size: 1.2vw;
            outline: none;
            border: none;
            color: #fff;
        }
        textarea{
            padding: 1vw;
        }
        button{
            text-align: center;
            cursor: pointer;
            transition: filter ease .2s;
            &:hover{
                filter: brightness(1.2);
            }
        }
        &.f{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        &.q{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &.d{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        &.t{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        &.s{
            grid-column: 1/3;
            grid-row: 4/5;
        }
    }
}