:root{
    --color1:#a3bff7;
    --color2:#4f86ce;
    --color3:#265798;
    --color4:#ebf5ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color4);
}